<footer class="footer">
  {% include social-icons.html %}
  <div class="post-date"><a href="{{ site.github.url }}/menu/about.html">{{ site.themename }} | طرحی از  {{ site.author }}</a></div>

  <!-- <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=316851&amp;Code=URNFV2IXn3YnyL0qnPkS">
    <img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=316851&amp;Code=URNFV2IXn3YnyL0qnPkS" alt="" style="cursor:pointer" id="URNFV2IXn3YnyL0qnPkS">
  </a> -->

</footer>